.tituloobrascompletas {
    font-size: 3rem;
    font-family: 'Ballet';
    text-align: center;
    padding: 30px;
}

/* Bookcard */

.libro {
    margin: 0 auto;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border-color: rgb(5, 94, 64);
    border-style: dashed;
    border-width: 5px; */
}

.titulolibro {
    font-size: 2.4rem;
    font-family: 'Ballet';
    text-align: center;
}

.libroinfoflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.imagendeportada {
    margin: 20px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
}

.resumen {
    font-family: 'Times New Roman', Times, serif ;
    width: 500px;
    font-size: 1.4rem;
}

.botonwrap {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.botonleergratis {
    border-color: blueviolet;
    border-radius: 5px;
    border-width: 5px;

    background-color: transparent;

    padding: 10px;
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
}

.botonleergratis:hover {
    background-color: blueviolet;
    color: white;
}

/* Genero no existente */

.titulonoencontrado {
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
}

.volveratras {
    margin: 0 auto;
    border-width: 5px;
    border-style: solid;
    border-color: aqua;
}