@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #ffffff;
  height: 90px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 9px 10px rgba(0,0,0,0.15);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 50px;
}

.logo {
  margin: 30px;
}

.navbutton {
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px 25px;
  font-size: 1rem;
  color: #ffffff;
  background: linear-gradient(135deg, #6a00ff, #ff72db);
  border: none;
  border-radius: 6px;
  cursor: pointer;

  /* Neon base */
  box-shadow: 0 0 6px rgba(106, 0, 255, 0.6);
  transition: 
    box-shadow 0.25s ease,
    text-shadow 0.25s ease,
    transform 0.25s ease;
}

.navbuttonactive {
  font-weight: 400;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px 25px;
  font-size: 1rem;
  color: #ffffff;
  background: linear-gradient(135deg, #984eff, #ffa8e9);
  border: none;
  border-radius: 6px;
  cursor: pointer;

  /* Neon base */
  box-shadow: 0 0 6px rgba(106, 0, 255, 0.6);
  transition: 
    box-shadow 0.25s ease,
    text-shadow 0.25s ease,
    transform 0.25s ease;
}

.navbutton:hover {
  background: linear-gradient(135deg, #ff72db, #6a00ff);
  box-shadow:
    0 0 12px rgba(255, 0, 200, 0.5);
  transform: translateY(-3px);
}

.presentation {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  height: 400px;
  background: url('https://wallpaperbat.com/img/760480-purple-butterfly-desktop-wallpaper-top-free-purple-butterfly-desktop-background.jpg');
}

.titulonombre {
  font-size: 2.6rem;
  font-weight: bold;
  font-family: 'Ballet';
}

.info {
  width: 750px;
  text-align: center;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.leermas {
  display: inline-block;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 500;
  background: transparent;
  color: #a81e81;
  border: 4px solid;
  transition: 0.35s ease;
  cursor: pointer;
}

.leermas:hover {
  color: white;
  border-color: transparent;
  background-image: linear-gradient(45deg, #a81e81, #e157c5), linear-gradient(45deg, #a81e81, #e157c5);
}

.titulolesroutes {
  font-family: 'Ballet';
  font-size: 3rem;
  font: bold;
  text-align: center;
  padding: 20px;
}

.seccionultimolibro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 30px;
}

.bookcover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.resumenlesroutes {
  width: 400px;
  text-align: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.inicial {
  font-family: 'Ballet';
  font-size: 2.5rem;
}

.botonbuscalibre {
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.mainsection {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.obrasbanner {
  box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}

.h2 {
  margin: 10px;
  font-size: 3rem;
  font: bold;
  font-family: 'Ballet';
}

.text {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 30px;
  font-family: serif;
  background-image: url('https://myindianthings.com/cdn/shop/products/33_bdf807c9-18de-4490-aff1-910056c6e925_800x.jpg?v=1668760136');
  height: 320px;
  text-align: center;
}

.notfoundtitulo {
  margin: 100px;
  font-size: 4rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}